<div class="section section-image section-login" style="background-image: url('assets/img/HA.jpg');">
    <div class="container title titre">
        Bienvenue à la page <hr>d'accueil agent
    </div>
</div>
<div class="col-xs-6  col-sm-3 col-md-2 offset-md-1 pp">
    <img src="assets/img/PP.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
    <p class="text-center titrePP">Agent de YonelTrans</p>
</div>

<div class="sep"></div>
<div class="col-md-6 menu">
    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ngb-tabset [justify]="'center'">
                <ngb-tab title="Retrait">
                    <ng-template ngbTabContent>
                        <div >
                            <form>
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger page-scroll bouton" routerLink="envoyer">Faire un retrait</button>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Historique des transactions">
                    <ng-template ngbTabContent>
                        <mat-accordion>
                            <mat-expansion-panel class="h" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                12/06/2022
                            </mat-panel-title>
                            <mat-panel-description>
                                Transaction numéro 1
                            </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p></p>
                        </mat-expansion-panel>

                        <mat-expansion-panel class="h" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    07/12/2022
                                </mat-panel-title>
                                <mat-panel-description>
                                    Transaction numéro 2
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p></p>
                        </mat-expansion-panel>
                    </mat-accordion>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Envoie">
                    <ng-template ngbTabContent>
                        <form>
                            <div class="form-group">
                                <button type="button" class="btn btn-danger page-scroll bouton" routerLink="../envoyer">Faire une transaction</button>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>