<div class="section section-image section-login" style="background-image: url('assets/img/gif.gif');">
    <div class="container title titre">
        <div class="cont"></div>
        <div class="transaction">
        <label class="titres"> Nom du récepteur</label>
        <input type="text" class="form-control input" placeholder="Renseigner le nom">

        <label class="titres">Prénom du récepteur</label>
        <input type="text" class="form-control input" placeholder="Renseigner le prénom">

        <label class="titres">Numéro d'identfication</label>
        <input type="number" class="form-control input" placeholder="Renseigner le CNI">

        <label class="titres">Somme</label>
        <input type="number" class="form-control input" placeholder="Renseigner la somme">

        <button type="button" class="btn btn-danger bouton" routerLink="../transaction">Valider</button>
        </div>
    </div>
</div>
<div class="container title titre" style="background-color:#222222 ; border-radius: 10px; width: 30px;">

</div>